@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ViewContext.HttpContext.RequestServices.GetService<Microsoft.AspNetCore.Hosting.IWebHostEnvironment>()?.IsDevelopment() == true)
{
    <p>
        <strong>Request ID:</strong> <code>@Activity.Current?.Id ?? HttpContext.TraceIdentifier</code>
    </p>
}
